body{
  background-color: #08428d;
  border-width:10px;
  text-align: center;
}
img {
  max-width: 60%;
  text-align: center;
}
.container{
  margin: auto;
  display: table;
}

main{
  width: 50em;
  height: 90%;
  background-color: white;
  margin: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.137);
}

main > div > h1{
  text-align: center;
  margin-top: 1em;
  font-family: sans-serif;
}

.informacoes{
  font-size: me;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.informacoes input{
  width: 50%;
  text-align: center;
  color: 08428d;
  border: 1px solid #08428d;
}

.informacoes label{
  margin-bottom: 0.5em;
}

button{
  background-color: #08428d;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid  #a6a6fb;
  color:  #FFFFFF;
}

.form{
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  margin-left: auto;
}

form div + div {
  margin-top: 3em;
}
input, textarea {
  padding: 10px;
  color: black;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #a6a6fb;
  text-align: center;
  width: 400px;
  
}